<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="cn.dreamtobe.xposed.crashpvp">

    <application
        android:label="CrashPVP">
        <meta-data
            android:name="xposedmodule"
            android:value="true"/>
        <meta-data
            android:name="xposeddescription"
            android:value="To crash the PVP(King of Glory)"/>
        <meta-data
            android:name="xposedminversion"
            android:value="30"/>
    </application>

</manifest>
